/* Element Selectors */
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  text-decoration: underline;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  /* font-family: "Helvetica Neue",Helvetica,Arial, sans-serif; */
}

h1 {
  color: #66BFBF;
  /* line-height: 2; */
  font-size: 5.625rem;
  margin: 50px auto -50px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2;
}

/* Class Selectors */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  right: 50%;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.chillies-img {
  float: right;
  margin-left: 30px;
  max-width: 150px;
  width: 50%;
}

.code-skill-description {
  /* clear: both; */
}

.computer-img {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  max-width: 150px;
  width: 50%;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 40px 0 0 0;
  padding: 0;
}

.intro {
  margin: auto;
  width: 30%;
}

.middle-container {
  padding: 100px 0;
}

.pro {
  text-decoration: underline;
}

.profile-picture {
  /* margin-top: 10px; */
  border-radius: 100%;
  height: 200px;
}

.mountain-img {
  /* width: 100%;
  max-width: 500px; */
  max-height: 25%;
}

.skills {
  /* margin-bottom: 10px; */
}

.skill-row {
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 40%;
  left: 60%;
  top: 50px;
}
